<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="HisCentralHarvester2.Properties.Settings.constring"
    connectionString="Data Source=MMartin-E5430;        Initial Catalog=hiscentral;        User ID=sa2;        Password=r3tn3CDW;        Encrypt=false;        Trusted_Connection=false;" />
</connectionStrings>
