<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MultiEndpoint.Properties.Settings.hiscentralConnectionString"
            connectionString="Data Source=WIN-QQF4QFO5REO\HISCENTRAL;Initial Catalog=hiscentral;Persist Security Info=True;User ID=sa;Password=r3tn3CDW"
            providerName="System.Data.SqlClient" />
        <add name="MultiEndpoint.Properties.Settings.OD_1_1ConnectionString1"
            connectionString="Data Source=WIN-QQF4QFO5REO\HISCENTRAL;Initial Catalog=OD_1_1;Persist Security Info=True;User ID=sa;Password=r3tn3CDW"
            providerName="System.Data.SqlClient" />
        <add name="MultiEndpoint.Properties.Settings.HealthQueryConnectionString"
            connectionString="Data Source=WIN-QQF4QFO5REO\HISCENTRAL;Initial Catalog=HealthQuery;Persist Security Info=True;User ID=sa;Password=r3tn3CDW"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WaterOneFlow" closeTimeout="00:00:30" openTimeout="00:00:10"
                    sendTimeout="00:00:30" maxBufferPoolSize="20000000" maxBufferSize="20000000"
                    maxReceivedMessageSize="20000000"/>
                <binding name="WaterOneFlowSoap" closeTimeout="00:00:30" openTimeout="00:00:30"
                    sendTimeout="00:00:30" maxBufferPoolSize="20000000" maxBufferSize="20000000"
                    maxReceivedMessageSize="20000000"/>
            </basicHttpBinding>
            <customBinding>
                <binding name="WaterOneFlowSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://eddy.ccny.cuny.edu/CIMS/cuahsi_1_1.asmx"
                binding="basicHttpBinding" bindingConfiguration="WaterOneFlow"
                contract="WaterML11.WaterOneFlow" name="WaterOneFlow" />
            <endpoint address="http://river.sdsc.edu/wateroneflow/EPA/cuahsi_1_0.asmx"
                binding="basicHttpBinding" bindingConfiguration="WaterOneFlowSoap"
                contract="WaterML10.WaterOneFlowSoap" name="WaterOneFlowSoap" />
            <endpoint address="http://river.sdsc.edu/wateroneflow/EPA/cuahsi_1_0.asmx"
                binding="customBinding" bindingConfiguration="WaterOneFlowSoap12"
                contract="WaterML10.WaterOneFlowSoap" name="WaterOneFlowSoap12" />
        </client>
    </system.serviceModel>
</configuration>